* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #0b2447;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f6f1f1;
  width: 60%;
  margin: 5% auto;
  gap: 10px;
  border-radius: 10px;
}

.results {
  background-color: white;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  margin: 30% auto 5% auto;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

button {
  width: 15%;
  padding: 30px;
  margin: 30px;
  cursor: pointer;
}
